@import "../node_modules/bulma/css/bulma.min.css";

.m-1 {
	margin: 1em;
}

.is-danger {
	color: red;
}

table thead th,
table tbody td {
	text-align: center !important;
}

.button.is-small {
	margin: 0.15rem 0.3rem;
}

.hero-body {
	align-items: flex-start !important;
}